/*general*/
html, body {
	margin:0;
	padding:0;
	height:100%
}

.white{
	color:white;
}

h4{
	margin:0;
	padding:0;
}

.navbar-fixed-top, .navbar-header, .navbar-inverse{
	z-index:10;
	height:80px;
	background:url("../img/temp/main.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
    border:0;
    border-color:none;
}

 .navbar-header, .navbar-inverse{
 	border:0;
 	height:80px;
    border-color:none;
 }

.navbar{
	z-index:10;
}

.navbar-header .logo{
	margin-top:9px;
	margin-left:9px;
}

.navbar .collapse.in{
	background:url("../img/temp/main.jpg") no-repeat 50% 50%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;background-size:cover;
    background-attachment: fixed;
    border-color:white;
}

.navbar .collapsing, .navbar-inverse .navbar-collapse{
	background:url("../img/temp/main.jpg") no-repeat 50% 50%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
    border-color:white;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	text-decoration:underline;
	text-shadow:none;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
    border:0;
    margin-top: 23px;
}

.coverimage .navbar{
	position:absolute;
	right:0;
}

.navbar-fixed-top .navbar-right{
	position:relative;
	top:15px;
}


@media screen and (max-width: 767px){
	.navbar .menuoption{
		width:100%;
		text-align:center;
	}
	
	.navbar-fixed-top .navbar-right{
		position:relative;
		top:0px;
	}
	
	.deezer{
		display:none;
	}
	
	.navbar .collapse.in, .navbar .collapsing, .navbar-inverse .navbar-collapse, .navbar-fixed-top, .navbar-header.top, .navbar-inverse{
		background:none;
		background-color:rgb(200,70,80);
	}
	
	.navbar-fixed-top, .navbar-header, .navbar-inverse{
		height:60px;
	}
	
	.navbar-header img.logo{
		height: 43px;
	}
	
	.navbar-inverse .navbar-toggle {
		margin-top:13px;	
	}
	/*.navbar li{
		border-bottom:solid 1px white;
		margin:0;
		padding:0;
	}*/
}


/*home*/
.coverimage{
	background-color:rgb(200,70,80);
	position: relative;
	z-index:20;
	display:table;
	height:100%;
	width:100%;
	margin:auto;
	background:url("../img/temp/main.jpg") no-repeat 50% 50%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
}

.coverimage .inner {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	max-width:none;
	margin:auto;
}

.coverimage .inner .content{
	padding:20px;
	max-width:600px;
	margin:auto;
	text-align:center;
}

.img-responsive {
    margin: 0 auto;
}

nav ul li {
  list-style:none;
  float:left;
  margin-right:50px;
}

.body-content{
	margin-top:25px;
}

.content-segment{
	margin-bottom:100px;
}

.link-more{
	float:right;
	margin-top:15px;
}

.about h4{
	line-height:150%;
}

.about h4 b{
	font-size:130%;	
}

.content-segment img{
	margin-bottom:5px;	
}

.content-segment a{
	color:black;
}

.content-segment .subtitle{
	color:gray;
	font-style:italic;
	margin-bottom:15px;
}

.about{
	margin-top:35px;
}

footer p{
	margin:auto;
	width:100%;
	text-align:center;
}

