/*general*/
html, body {
	margin:0;
	padding:0;
	height:100%;
}

.white{
	color:white;
}

.black{
	color:black;
}

.uppercase{
	text-transform: uppercase;
}

.nomargin{
	margin:0;
}

.gray, a.gray, .gray a, a.gray:hover{
	color:rgb(160,160,160);
}

.darkgray, a.darkgray, .darkgray a, a.darkgray:hover{
	color:rgb(150,150,150);
}

.infotext{
	color:gray;
	font-style:italic;
}

.floatright{
	float:right;
}

.italic{
	font-style:italic;
}

h4{
	margin:0;
	padding:0;
	text-decoration:none;
}

.navbar-header .logo{
	margin-top:9px;
	margin-left:9px;
}

.navbar .collapse.in{
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;background-size:cover;
    background-attachment: fixed;
    border-color:white;
}

.navbar .collapsing, .navbar-inverse .navbar-collapse{
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
    border-color:white;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	text-shadow:none;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
    border:0;
    margin-top: 23px;
}

.coverimage .navbar{
	position:absolute;
	right:0;
}

.navbar-fixed-top .navbar-right{
	position:relative;
	top:7px;
}

.navbar-header img.logo{
	height: 43px;
}

.navbar-inverse .navbar-toggle {
	margin-top:13px;	
}

 {
  list-style:none;
  margin-left: 0 0 0 50px;
}


/*home*/
.coverimage{
	background-color:rgb(200,70,80);
	position: relative;
	z-index:20;
	display:table;
	height:100%;
	width:100%;
	margin:auto;
	background:url("../img/cover_red.jpg") no-repeat 50% 50%;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
}

.coverimage .inner {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	max-width:none;
	margin:auto;
	position:relative;
}

.coverimage .inner .content{
	padding:20px;
	max-width:600px;
	margin:auto;
	text-align:center;
	height:100%;
	position:relative;
}

.img-responsive {
    margin:0 auto 50px;
}

.coverimage .biglogo{
  position:relative;
  top:calc(50% - 230px);
  vertical-align:middle;
}

.coverimage .playlist{
	position:absolute;
	bottom:15px;
	width:calc(100% - 40px);
}

.coverimage .navbar {
  width:100%;
}

.logo_wrapper{
	position:relative;
	height:100%;
}

.body-content{
	margin-top:10px;
}



.content-segment{
	margin-bottom:100px;
}

.link-more{
	float:right;
	margin-top:15px;
}

.about h4{
	line-height:150%;
}

.about h4 b{
	font-size:130%;	
}

.content-segment img{
	margin-bottom:5px;	
}

.content-segment a img, .content-segment iframe{
	-webkit-transition-property: outline-offset; /* Safari */
    -webkit-transition-duration: 0.0s; /* Safari */
    transition-property: outline-offset;
    transition-duration: 0.0s;
    
    outline-offset:0px;
}

.content-segment a:hover img, .content-segment iframe:hover{
  //outline:white solid 5px;
  //outline-offset:-10px;
}

.content-segment a:hover .embed-responsive, .content-segment a:hover .embed-responsive iframe{
	//outline:white solid 5px;
    //outline-offset:-10px;
}

.content-segment a h4, .news-preview a h1, a:hover .event-title span{
	border-bottom:solid white 2px;
	text-decoration:none;
	margin-top:5px;
	color:black;
}

.news-preview a h1{
	border-bottom:solid white 4px;
	text-decoration:none;
	margin-top:8px;
	color:black;
}

.content-segment a:hover{
	text-decoration:none;
}

.content-segment a:hover h4 b{
	text-decoration:none;
	border-bottom:solid black 2px;
}

.news-preview a:hover h1 span{
	text-decoration:none;
	border-bottom:solid black 4px;
}

.content-segment .subtitle{
	color:gray;
	font-style:italic;
	margin-bottom:15px;
}

.content-segment a h4{
	color:black;
	text-decoration: none;
}
.content-segment a:hover h4{
	text-decoration:none;
}

.about{
	margin-top:35px;
}

footer {
	margin:auto;
	width:100%;
	height:50px;
	
}

hr{
    border: none; 
    border-bottom: 1px solid lightgray; 
}

ul.social {
	list-style:none;
	float:right;
}

ul.social a{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
}

ul.social #facebook{
	background: url('../img/fb.jpg');
}

ul.social #youtube{
	background: url('../img/yt.jpg');
}
ul.social #mixcloud{
	background: url('../img/mc.jpg');
}

ul.social #facebook:hover, ul.social  #youtube:hover, ul.social  #mixcloud:hover {
	background-position: 0 30px;
}

.navbar .top a{
	color:white;
}

.navbar .top a h4{
	display:inline;
	position:relative;
	top:7px;
	text-decoration: none;
}

.sidetitle{
	color:black;
	text-decoration: none;
    font-size:250%;
}

.underscore{
	border-bottom: 5px solid black;
}

.sidetitle.noninteractive{
	border-bottom: none;
}


/*news*/

.page-content.admin, .pagecontent.news{
	margin-top:100px;
}

.btn-file {/*fileinput*/
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.news-preview {
	margin-bottom:50px;
}

.news_overview{
	max-width:750px;
	margin:auto;
}

a.sidetitle_link{
	color:black;
	text-decoration:none;
    border-bottom: none;
    font-size:250%;
}

a.sidetitle_link:hover{
	text-decoration:none;
	border-bottom: 5px solid black;
}

.news_subtitle{
	font-size:130%;
	margin-top:-8px;
	margin-bottom:5px;
}

/*NAVBAR*/

.navbar-inverse{
	background-color:transparent;
	background-image:none;
}

.nav > li a {
  margin-left:50px;
  text-decoration: none;
}

/*
.navbar-fixed-top, .navbar-header, .navbar-inverse, .navbar .collapse.in, .navbar .collapsing, .navbar-inverse .navbar-collapse{
	background:url("../img/temp/main.jpg") no-repeat 50% 50%;
}

.navbar-fixed-top, .navbar-header, .navbar-inverse{
	z-index:10;
	height:60px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
    border:0;
    border-color:none;
} */

 .navbar-fixed-top, .navbar-header, .navbar, .navbar-header, .navbar-inverse{
 	z-index:10;
 	border:0;
 	height:60px;
    border-color:none;
    
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
    background-attachment: fixed;
 }

.navbar.green{
	background:url("../img/cover_green.jpg") no-repeat 50% 50%;
	background-attachment: fixed;
}

.navbar.red{
	//background-color:rgb(200,70,80);
	background:url("../img/cover_red.jpg") no-repeat 50% 50%;
	background-attachment: fixed;
}

.navbar.beige{
	//background-color:rgb(200,70,80);
	background:url("../img/cover_beige.jpg") no-repeat 50% 50%;
	background-attachment: fixed;
}

.menuoption a, .menuoption a:hover, .menuoption a:focus, .navbar-header a h4{
	text-decoration: none;
    border-bottom: none;
}

.menuoption a:hover h4, .menuoption.current h4{
	text-decoration: none;
    border-bottom: 5px solid white;
}



/*EVENTS*/
.event-title{
	padding-right:10px;
	margin-top:8px;
}

.event-sidebar ul{
	list-style:none;
    margin-bottom:0;
    padding-left:0;
}


.event-sidebar li{
	margin-bottom:15px;
}

.event-sidebar ul div:first-child{
	text-transform: capitalize;
	font-size:130%;
}

a.ticket-link{
	color:black;
	text-align:center;
	text-decoration:none;
}

a.ticket-link h1{
	font-size:200%;
	padding: 5px;
	border: 5px solid black;
}

a.ticket-link:hover h1{
	font-size:200%;
	padding: 5px;
	color:white;
	background-color:black;
	border: 5px solid black;
}

.eventpage-title{
	margin-top:-5px;
}

.glyphicon {
    font-size: 25px;
    margin-right:10px;
}

iframe{
	z-index:0;
}

a.thin_button, a.thin_button:visited, a.thin_button:active{
  border:2px solid gray;
  color:gray;
  float:right;
  font-weight:bold;
  margin-top:13px;
  padding:5px;
}

a.thin_button:hover{
	border:2px solid black;
	color:white;
	background-color:black;
}


/*float tickets link to right when bootstrap resizes*/
@media screen and (max-width: 991px){
	.link-more{
		float:none;
		margin-top:5px;
		margin-bottom:10px;
	}
}

/*ABOUT PAGE*/
.slagzin{
	margin-top:5px;
	line-height:140%;	
}

.slagzin a{
	color:black;
	text-decoration:none;
	padding:0px 6px 2px 3px;
}

.slagzin a.red{
	background-color:#bf1e2e;
}

.slagzin a.red:hover{
	color:white;
}

.slagzin a.green{
	background-color:#648c8c;
}

.slagzin a.green:hover{
	color:white;
}

.slagzin a.beige{
	background-color:#a1a274;
}

.slagzin a.beige:hover{
	color:white;
}

.fill{
	border-bottom:solid 5px;
}

.fill.red{
	border-color:#bf1e2e;
}

.fill.green{
	border-color:#648c8c;
}

.fill.beige{
	border-color:#a1a274;
}

#musictext a:hover{
	text-decoration:underline;
}


/*SMALL SCREEN STYLE CHANGES*/
@media screen and (max-width: 767px){
	.navbar .menuoption{
		width:100%;
		text-align:center;
		text-decoration: none;
	}
	
	.menuoption a:hover h4, .menuoption.current h4, .navbar-header a:hover h4{
		text-decoration: none;
	    border-bottom: 0px solid white;
	}
	
	.navbar-fixed-top .navbar-right{
		position:relative;
		top:0px;
	}
	
	.nav > li a {
	  margin-left:0px;
	  text-decoration: none;
	}
	
	.deezer{
		display:none;
	}
	
	.navbar-collapse {
		background:none;
		background-color:rgb(200,70,80);
	}
	
	.navbar.red .collapse.in, .navbar.red .collapsing, .navbar-inverse.red .navbar-collapse, .navbar.red {
		background:none;
		background-color:rgb(200,70,80);
	}
	
	.navbar.green .collapse.in, .navbar.green .collapsing, .navbar-inverse.green .navbar-collapse, .navbar.green {
		background:none;
		background-color:rgb(100,140,140);
	}
	
	.navbar.beige .collapse.in, .navbar.beige .collapsing, .navbar-inverse.beige .navbar-collapse, .navbar.beige {
		background:none;
		background-color:rgb(135,135,95);
	}
	
	.logo_wrapper{
		margin:20px;
	}
	
	a.thin_button, a.thin_button:visited, a.thin_button:active{
		float:left;	
	}
}


a:hover span h4{
	text-decoration:none;
}
